<h2>WTF!</h2>

<h4><%= CGI::escapeHTML(message) %></h4>

<pre>
  <%= code_preview %>
</pre>

<ul>
  <% backtrace.each do |line| %>
    <li>
      <%= CGI::escapeHTML(line) %><br>
    </li>
  <% end %>
</ul>
